{% extends "::base.html.twig" %}

	{% block title %}
		{% if affich == 1 %}
    		Ajouter un projet
    	{% else %}
    		Editer un projet
    	{% endif %}
	{% endblock %}

	{% block brand %}
        <div class="brand">
        	{% if affich == 1 %}
        		Ajouter un projet
        	{% else %}
        		Editer un projet
        	{% endif %}
        </div>        
    {% endblock %}

    {% block container %}

    	<div class="row">
            <div class="box" style="text-align:center;margin-bottom:35px;">               
                <hr>
		    	<h2>
		    		{% if affich == 1 %}
		        		Ajouter un projet
		        	{% else %}
		        		Editer un projet
		        	{% endif %}
		        </h2>

		    	<div >
			    	{{form_start(form)}}
				    	{{form_row(form.name)}}
				    	{{form_row(form.slug)}}
				    	{{form_row(form.beginDate)}}
				    	{{form_row(form.endDate)}}
				    	<div style="margin-top:25px;margin-bottom:25px;">
				    		{{form_row(form.endDate)}}
				    	</div>
			    	{{form_end(form)}}
			    </div>			   
			</div>
		</div>
    {% endblock %}